div h1:hover {
    content: 'Hover over my picture';
}


/* p:first-letter {
    font: bold 3em / .5 serif;
    color: #3f51b5;
} */

#name {
    font: bold 1.5em / .3 sans-serif;
    color: #D4AF37;
}

.image {
    width: 11rem;
    float: left;
    padding: 15px;
    /* overflow: auto; */
}

.image:hover {
    transition: width 30rem;
}

.btn-space {
    margin-top: 20px;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 80px;
}

.btn.btn-light:hover {
    color: #D4AF37;
    background-color: #3f51b5;
}